<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="footerView">
  <section class="bg-dark">
    <div class="container text-center text-white p-5">
      <h2>JOIN OUR BOOK STORE AND FOR DEALS AND UPDATES ON OFFERS</h2>
    </div>
    <div class="row justify-content-center">
      <div class="offset-md-3 col-md-6">
        <form action="#" class="form-inline my-3">
          <div class="input-group">
            <input type="text" placeholder="Your Email" class="form-control">
            <div class="input-group-append justify-content-center">
              <button class="btn btn-success">Join Now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section class="p-3 bg-secondary" id="footer">
    <ul class="nav justify-content-center d-flex flex-column flex-sm-row text-white">
      <li class="nav-item">
        <a href="" class="nav-link text-white">FAQ</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link text-white">EXPLORE</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link text-white">EXPERIENCE</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link text-white">CONTACT</a>
      </li>
    </ul>
  </section>
</div>
</body>
</html>